{"botinfo":       {
	"auth":   "AUTHID",
	"userid": "USERID",
	"botname":"bot",
	"laptop": "linux"
},
	"roomid":     "ROOOOM ID",
	"admin":      "#####",
	"database":   {
		"usedb":     true,
		"dbname":    "tt_bot",
		"logchat":   true,
		"tablenames":{
			"song":   "SONGLIST",
			"chat":   "CHATLOG",
			"user":   "USERS",
			"banned": "BANNEDUSERS",
			"holiday":"HOLIDAY_GREETINGS"
		},
		"login":     {
			"user":    "DB_USERNAME",
			"password":"DB_PASSWORD",
			"host":    "localhost"
		}
	},
	"lastfm":     {
		"useapi":   true,
		"lastfmkey": "LASTFM_API_KEY"
	},
	"http":       {
		"usehttp":true,
		"port":   8181,
		"host":   "localhost"
	},
	"responses":  {
		"respond":        true,
		"announcebonus":  true,
		"reportsongstats":true,
		"welcomeusers":   false,
		"welcomepm":      false,
		"alwayspm":       false,
		"pmgreet":        "WELCOME",
		"greeting":       "WELCOME",
		"ownerresponse":  "",
		"sing":           true,
		"rules":          {
			"description":"No queue, fastest finger, play two songs and step down",
			"link":       ""
		}
	},
	"consolelog": false,
	"bonusvote":  "VOTE",
	"djing":      {
		"botdj": false,
		"minDjs":0,
		"maxDjs":3
	},
	"enforcement":{
		"enforceroom":false,
		"waitlist":   false,
		"songslimit": {
			"limitsongs":false,
			"maxsongs":  2,
			"minDjs":    5
		},
		"stepuprules":{
			"waittostepup":false,
			"waittype":    "SONGS",
			"length":      4
		},
		"ffarules":   {
			"multiplespotffa":false,
			"timerffa":       true,
			"timeout":        10
		},
		"idle":       {
			"idlerules":      false,
			"idlewarntime":   10,
			"idleremovaltime":12,
			"minDjs":         5
		}
	},
	"maintenance":{
		"autorejoin":true
	}}
